.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #242424;
    height: 61px;
    border-bottom: 1px solid #242424;
    width: 100%;
    font-family: FormularLight, sans-serif;
}